* {
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    height: 120px;
    margin: 0, 40px;
}

.navbar .container{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu{
    list-style-type: none;
    padding-left: 0%;
}

.navbar-menu ul{
    
}

.navbar-menu li{
    display: inline-block;
}